option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "stockproject.settings"
    PYTHONPATH: "/opt/python/current/app/stockproject:$PYTHONPATH"

  aws:elasticbeanstalk:container:python:
    WSGIPath: stockproject/stockproject/wsgi.py

  aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    Protocol: HTTP

  aws:elbv2:listener:5000:
    ListenerEnabled: 'true'
    Protocol: HTTP