option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "stockproject.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

  aws:elasticbeanstalk:container:python:
    WSGIPath: "stockproject.wsgi:application"

  aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    Protocol: HTTP

  aws:elbv2:listener:5000:
    ListenerEnabled: 'true'
    Protocol: HTTP