option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "stockproject.settings"
    "PYTHONPATH": "/opt/python/current/app/stockproject:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: stockproject/stockproject/wsgi.py
    
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "mainapp/static/"